@page "{locationId:int?}"
@model LocationsMemory.Pages.Locations.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>@Model.Location.Name bearbeiten</h2>

<form method="post">

    <input type="hidden" asp-for="Location.Id" />
    <div class="form-group">
        <label asp-for="Location.Name"></label>
        <input asp-for="Location.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Location.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location.street_number"></label>
        <input asp-for="Location.street_number" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Location.route"></label>
        <input asp-for="Location.route" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Location.locality"></label>
        <input asp-for="Location.locality" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Location.administrative_area_level_2"></label>
        <input asp-for="Location.administrative_area_level_2" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Location.administrative_area_level_1"></label>
        <input asp-for="Location.administrative_area_level_1" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Location.country"></label>
        <input asp-for="Location.country" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Location.postal_code"></label>
        <input asp-for="Location.postal_code" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Location.Latitude"></label>
        <input asp-for="Location.Latitude" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Location.Longitude"></label>
        <input asp-for="Location.Longitude" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

