@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Du möchtest dir alle Locations ansehen?</h1>
    <p>Dann klick <a asp-page="/Locations/List">hier!</a></p>
</div>
